article.nextra-body-typesetting-article h1 {
    text-align: left !important;
    font-size: 64px !important;
    background: linear-gradient(to right, #f0f0f0, #333333);
    color: transparent;
    background-clip: text;
}

nav.nx-w-64 {
    width: 0;
}

div.nx-w-64 {
    width: 0;
}

main.nx-max-w-6xl {
    max-width: 1440px;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}